.container-nums {
  line-height: 7px;
  padding: 0 17px;
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;

  div {
    margin-right: 25px;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.black {
  color: black;
}